

body {
    background-color: rgb(74, 63, 226);
  }

.header {
    padding: 10px;
    margin: 30px;
    position: inline-block;


}

  .container {
    background-color: white;
    width: 90%;
    height: 1500px;
    margin: auto;
  }
  .header {
    background-color:white;
    height: 70px;
    width: 90%;
  }
  .parghraph1 {
    display: inline;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height:1000px;
 
  }

  
  img {
    width: 100%; 
    height: 500px
  }
  
  .title {
    color: rgb(112, 21, 197);
    margin-left: 10px;
  }

  h6 {
    margin-top: 0px;
    margin-left: 10px;
  }

  .para1 {
    margin-left: 10px;
  }

  .para1 {
    margin-left:10px;
    width: 600px;
  }

  
  .aw {
    position: inline-block;

  }

  .ho {
    position: inline-block;
    margin-left: 900px;
    margin-top: 10px;


  }

  .ab {
    position: inline-block;
    margin-left: 10px;


  }

  h3 {
    border: 5px solid orange;
    background-color: red;
    color: white;
    align-items: center;
    text-align: center;
    

  }

  .box {
    position: relative;
    color: black;
    width: 200px;
    height: 130px;
    background-color: orange;
    list-style: none;
    left: 900px;
    bottom: 150px;
    font-style: none;
    text-decoration: none;
    

  }