

body {
    background-color:  rgb(247, 255, 128);
}

.ar {
    font-weight: bolder;
    font-size: 30;
}

.head1 {
font-weight: bolder;
font-size: 30;

}

.lorem {
    font-size:15;
 
}

.one {
    background-color: white; 
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    
}

.ip-one {
    background-color: rgb(216, 175, 98);
}
.ip-two {
    background-color: rgb(246, 250, 6);
}

.ip-three {
    background-color: rgb(216, 175, 98);
}

.ip-four {
    background-color: rgb(246, 250, 6);
}

.ip-five {
    background-color: rgb(216, 175, 98);
}

.ip-six {
    background-color: rgb(246, 250, 6);
}

.ip-siv {
    background-color: rgb(246, 250, 6);
}

.two {
    background-color: white;
    border:solid 1px ;
    padding: 10px;
    margin: 10px;
}

.three {
    border: dashed 1px rgb(247, 10, 10);
    color:rgb(241, 42, 16);
    background-color: white;
    padding: 10px;
    margin: 10px;
} 

.eti {
    border: dashed 1px rgb(247, 10, 10);
}

