
.he {
    color: black;
}

.here { 
    color: blue;

}

.with {
    color: rgb(247, 195, 53)
}

.links {
    color: rgb(248, 195, 49) ;

}

.link {
    color: rgb(99, 14, 14);
    background-color: yellow;
}

.can {
    color: blue;
}

.another {
    color: red;
}

.color {
    color: red;
}

.me {
    color: red
}